<footer>
  gyokuro is maintained by <a href="https://github.com/bjansen">Bastien Jansen</a>.
  Code is available in the <a href="https://github.com/bjansen/gyokuro">GitHub project</a>.
</footer>

<script type="text/javascript" src="{{ "/javascripts/rainbow.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/javascripts/languages/ceylon.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
  try {
      var pageTracker = _gat._getTracker("UA-20750042-3");
      pageTracker._trackPageview();
  } catch(err) {}
</script>