<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="{{ "/stylesheets/stylesheet.css" | relative_url }}" media="screen">
  <link rel="stylesheet" type="text/css" href="{{ "/stylesheets/paraiso-dark.css" | relative_url }}" media="screen">
  <link rel="stylesheet" type="text/css" href="{{ "/stylesheets/print.css" | relative_url }}" media="print">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">

  <link rel="shortcut icon" sizes="16x16 32x32" href="{{ "/images/favicon.ico?2" | relative_url }}">
</head>
