<nav>
  <ul>
    <li><a href="{{'/doc/0.2' | prepend: site.baseurl}}">Documentation</a></li>
    <li><a href="https://modules.ceylon-lang.org/repo/1/net/gyokuro/core/0.2/module-doc/api/index.html">API</a></li>
    <li><a href="https://github.com/bjansen/gyokuro">Code</a></li>
    <li><a href="https://github.com/bjansen/gyokuro/tree/master/demos/gyokuro/demo">Examples</a></li>
  </ul>
</nav>

<a href="{{'/' | prepend: site.baseurl}}">
<header>
  <h1>gyokuro</h1>
  <h2>A tiny framework for creating web apps in Ceylon</h2>
</header>
</a>

<hr>
