---
---

@import "base";
@import "layout";
@import "mediaQueries";

nav {
    ul {
        position: absolute;
        right: 100px;
        margin: 0;
        padding: 0;

        li {
            &:before {
                content: "";
            }
            float: left;
            margin-right: 20px;
            padding: 0;
            font-weight: bold;
        }
    }
}

.intro {
    font-size: 1.3em;
    h2 {
        text-align: center;
        font-size: 40px;
    }
}

.current-version {
    clear: both; 
    text-align: center;
    margin: 30px 0;
}

.hero-code {
    width: 100vw;
    margin-left: calc(-1 *((100vw - 100%) / 2));
    + hr {
        margin-top: 24px;
    }
    pre {
        margin: auto;
        width: 620px;
    }
    div {
        width: 35%;
        padding: 0 10px;
        overflow-x: scroll;
    }
}

@media all and (max-width: 800px) {
    .hero-code {
        div {
            width: 95%;
        }
    }
    .with-text {
        flex-direction: column;
        div:first-child {
            margin-left: 0 !important;
        }
    }
}

.with-text {
    display: inline-flex;
    align-items: center;
    padding: 50px 0;
    div:first-child {
        margin-left: 15%;
    }
    p {
        &:last-child {
            margin-bottom: 0;
        }
    }
    pre {
        width: auto !important;
    }

}

.light {
    background: $light_background_color;
    background: linear-gradient(top, $light_background_color 0,$concrete 100%);
    filter: progid:dximagetransform.microsoft.gradient(startcolorstr='$light_background_color', endcolorstr='$concrete',gradienttype=0 );
}
.dark {
    background-color: $code_background;    
}

.gotcha {
    background-color: $color_cornflower_lilac_21_approx;
    padding: 10px;
    text-shadow: 0 1px 0 $white_30;
    margin-bottom: 10px;
    &:before {
        content: "Gotcha!";
        display: block;
        font-size: 1.1em;
        font-weight: bold;
    }
    pre code {
        background-color: $code_background;
    }
    code {
        background-color: $color_oyster_pink_approx;
    }
}

#toc {
    position: fixed;
    top: 190px;
    left: 50%;
    margin-left: 320px;
    ul {
        margin-bottom: 0;
    }
}

#markdown-toc {
    > li {
        > a {
            counter-reset: h3counter2;
            &:before {
                content: counter(h2counter2) ".\0000a0\0000a0";
                counter-increment: h2counter2;
            }
        }
        > ul > li > a:before {
            content: counter(h2counter2) "." counter(h3counter2) ".\0000a0\0000a0";
            counter-increment: h3counter2;
        }
    }
}

.with-toc {
    h2 {
        counter-reset: h3counter;
        &:before {
            content: counter(h2counter) ".\0000a0\0000a0";
            counter-increment: h2counter;
        }
    }
    h3:before {
        content: counter(h2counter) "." counter(h3counter) ".\0000a0\0000a0";
        counter-increment: h3counter;
    }
}

.buttons {
    text-align: center;
    margin: 30px;
}

.button {
    text-align: left;
}

.doc-link {
    display: inline-block !important;
    float: none !important;
    margin: auto;
    span {
        background: transparent $url_3 12px 50% no-repeat;
    }
}

.getting-started {
    display: inline-block !important;
    float: none !important;
    span {
        background: transparent url(../images/abc.svg) 12px 50% no-repeat;
        background-size: 23px 23px;
    }
}
